@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
  border: 1px solid;
}

#root {
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  /* margin: 30px auto; */
  border: 1px solid;
  width: 700px;
}
header {
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

li {
  padding-right: 5px;
  margin-right: 5px;
}
.border {
  border-right: 3px solid black;
}

.display {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #777;
  color: white;
  margin: auto;
}

#text {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  overflow-x: hidden;
  padding: 5px;
}

.button-panel {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
}

.btn {
  /* width: 25%; */
  height: 100px;
  margin: auto;
  text-align: center;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: solid #aaa;
}

/* .zero {
  width: 50%;
} */

.op-btn {
  width: 25%;
  height: 100px;
  margin: auto;
  text-align: center;
  background-color: #fd8d0e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: solid #aaa;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 100px auto;
}

.quote-img {
  width: 350px;
  height: auto;
}

.quote-text {
  text-align: center;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 20px;
  transition: 0.75s;
}

.nav-link:hover {
  font-size: 30px;
}

@media only screen and (min-width: 992px) {
}
