body {
  /* width: 360px; */
  padding: 0;
  margin: 0;
  border: 1px solid;
}

#root {
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  /* margin: 30px auto; */
  border: 1px solid;
  width: 320px;
}
header {
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

li {
  padding-right: 5px;
}
.border {
  border-right: 3px solid black;
}

.display {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #eee;
  margin: auto;
}

#text {
  font-size: 40px;
  overflow-x: hidden;
}

.button-panel {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
}

.btn {
  width: 80px;
  height: 80px;
  margin: auto;
  text-align: center;
  border: 1px solid #aaa;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.zero {
  width: 160px;
}

.op-btn {
  width: 80px;
  height: 80px;
  margin: auto;
  text-align: center;
  border: 1px solid #aaa;
  background-color: #fd8d0e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
